* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

.cards-container {
  width: 100%;
  min-height: 100vh;

  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  flex-wrap: wrap;
  padding: 40px;
}

/* CARD */

.card {
  width: 320px;
  background-color: white;
  border-radius: 25px;
  padding: 20px;

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

/* TOP */

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  width: 55px;
  height: 55px;

  border-radius: 50%;
  object-fit: cover;
}

.top button {
  border: none;
  background-color: #ececec;

  padding: 10px 14px;

  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;
  transition: 0.3s;
}

.top button:hover {
  background-color: black;
  color: white;
}

/* CENTER */

.center {
  margin-top: 25px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.center h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 24px;
}

.center span {
  font-size: 12px;
  color: gray;
}

.center h2 {
  font-size: 32px;
  line-height: 1.2;
}

.tags {
  display: flex;
  gap: 10px;
}

.tags h4 {
  background-color: #efefef;

  padding: 8px 15px;

  border-radius: 20px;

  font-size: 14px;
  font-weight: 500;
}

/* BOTTOM */

.bottom {
  margin-top: 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salary p {
  color: gray;
  margin-top: 5px;
}

.apply-btn {
  border: none;
  background-color: black;
  color: white;

  padding: 12px 18px;

  border-radius: 12px;

  cursor: pointer;
  transition: 0.3s;
}

.apply-btn:hover {
  transform: scale(1.05);
  background-color: #222;
}