nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: beige;
    height: 80px;

}

h1 {
    padding-left: 25px;
}

ul li {
    list-style: none;
}

ul {
    display: flex;
    gap: 40px;
    font-weight: 600;
}

button {
    margin-right: 30px;
    height: 30px;
    width: 80px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    color: black;
    background-color: rgb(250, 208, 101);
}